<section class="section">
  <div class="container">
    <h2 class="title">Memories of <%= @collection.title %></h2>
    <div class="section">
      <div class="columns is-mobile is-multiline is-centered">
        <% if @mementos.any? %>
        <% @mementos.each do |memento| %>
        <div class="column is-narrow">
          <div class="sub-title">
            <%= link_to memento.title, collection_memento_path(@collection, memento), class: "memento_title" %>
          </div>
          <%= link_to (image_tag memento.image.url(:medium)), collection_memento_path(@collection, memento) %>
        </div>
        <% end %>
      </div>
    </div>
      <% else %>
      <p>You haven't saved any Mementos yet!</p>
      <% end %>
    </div>
  </div>
</section>
