<% if @mementos.any? %>
  <% @mementos.each do |memento| %>
    <div class="memento_image">
      <%= link_to image_tag(memento.image.url(:medium)), recipient_memento_path(memento.id)%>
    </div>
  <% end %>
<% else %>
  <p>You haven't saved any Mementos yet!</p>
<% end %>

<h5></h5>
