<div class="page-contents">
  <h2>View the memories you share with each person</h2>
  <% if @collections.any? %>
  <% @collections.each do |collection| %>
  <button type="button" class="btn btn-collection">
    <%= link_to collection.name, collection_path(collection) %>
  </button>
  <% end %>
  <button type="button" class="btn btn-collection">
    <%= link_to "View All Mementos", collection_mementos_path(@collections.last.id) %>
  </button>
  <% end %>
</div>
