<div class="page-contents">
  <h2>View the memories you share with each person</h2>
  <% if @recipients.any? %>
  <% @recipients.each do |recipient| %>
  <button type="button" class="btn btn-recipient">
    <%= link_to recipient.name, recipient_path(recipient) %>
  </button>
  <% end %>
  <button type="button" class="btn btn-recipient">
    <%= link_to "View All Mementos", recipient_mementos_path(@recipients.last.id) %>
  </button>
  <% end %>
</div>
