<div class="page-contents">
  <h2>Memories with <% @recipient.name %></h2>
  <% if @mementos.any? %>
    <% @mementos.each do |memento| %>
      <div class="memento_holder">
        <div class="memento_title"><%= link_to memento.title, recipient_memento_path(@recipient, memento) %></div>
        <div class="overlay">
          <%= link_to (image_tag memento.image.url(:medium)), recipient_memento_path(@recipient, memento), class: 'memento_image' %>
        </div>
      </div>
      <% end %>
    <% else %>
    <p>You haven't saved any Mementos yet!</p>
  <% end %>
</div>
