<section class="section">
  <div class="container">
    <div class="section">
      <div class="columns is-mobile is-multiline">
        <% if @mementos.any? %>
        <% @mementos.each do |memento| %>
        <div class="column is-3">
          <div class="memento-holder">
            <div class="sub-title">
              <%= link_to memento.title, collection_memento_path(@collection, memento), class: "memento_title" %>
            </div>
            <%= link_to (image_tag memento.image.url(:medium)), collection_memento_path(@collection, memento), class: "memento_image" %>
          </div>
        </div>
        <% end %>
      </div>
    </div>
    <% else %>
    <p>You haven't saved any Mementos yet!</p>
    <% end %>
  </div>
</section>
